<div class="row">
  <div class="form-bg">
    <form [formGroup]="signupForm" (ngSubmit)="postData(signupForm)">
      <h2 class="text-center">Registaton form </h2><br>
      <div class="form-group">
        Ticket Id :
        <input type="number" formControlName="tid" placeholder="Enter ticket id" >
      </div>
      <br>
      <div class="form-group">
        Passenger Name:
        <input type="text" formControlName="name" placeholder="enter passenger name">
      </div>
     
      <br>
      <div class="text-center">
        <input type="submit" value="Submit" >
        <input type="reset" value="reset" >
      </div>

    </form>
  </div>
  </div>
  <button (click)="getTicket()" >Get Ticket</button>

  <router-outlet></router-outlet>
  
